#popup-menu {
    position: absolute;
    background: #bbc;
    border: 1px solid gray;
    padding: 2px;
    display: inline-block;
    min-width: 100px;
    -moz-box-shadow: 3px 3px 3px black;
    -webkit-box-shadow: 3px 3px 3px black;
    z-index: 99999;
}

#popup-menu li {
    list-style: none;
    padding: 4px;
    border-top: #888 dotted 1px;
}

#popup-menu li:first-of-type {
    border-top: none;
}

#popup-menu li:hover {
    background: white;
}

#editor {
    position: fixed;
    top: 5%;
    right: 5%;
    height: 70%;
    width: 40%;
    display: none;
    padding: 0.5em;
    background: #dddddd;
}

#editor-table {
    height: 100%;
    overflow: scroll !important;
}

#editor-table .current-row {
    background: #c0d0d0;
}

.vcr-progress {
    position: relative;
}

.vcr-buttons {
    position: absolute;
    top: 0.3em;
    left: 0.5em;
    height: 100%;
}

.vcr-buttons input {
    font-size: 80% !important;
    font-weight: bold;
    color: #114422;
    margin-right: 0.5em;
    width: 4em;
}

.vcr-buttons input.compress {
    letter-spacing: -.3em;
}

.terminal {
    background: rgb(20, 20, 20);
    color: white;
    padding: 0.5em;
    border: 0.5em solid black;
    border-radius: 6px;
}

.terminal pre {
    margin: 0px;
    padding: 0px;
    line-height: 125%;
}

.terminal pre .b_ { 
    font-weight: bold;
}

.terminal pre .u_ { 
    text-decoration: underline;
}

.terminal pre .f0_ { color: #000000; }
.terminal pre .b0_ { background-color: #000000; }
.terminal pre .f1_ { color: #800000; }
.terminal pre .b1_ { background-color: #800000; }
.terminal pre .f2_ { color: #008000; }
.terminal pre .b2_ { background-color: #008000; }
.terminal pre .f3_ { color: #808000; }
.terminal pre .b3_ { background-color: #808000; }
.terminal pre .f4_ { color: #000080; }
.terminal pre .b4_ { background-color: #000080; }
.terminal pre .f5_ { color: #800080; }
.terminal pre .b5_ { background-color: #800080; }
.terminal pre .f6_ { color: #008080; }
.terminal pre .b6_ { background-color: #008080; }
.terminal pre .f7_ { color: #c0c0c0; }
.terminal pre .b7_ { background-color: #c0c0c0; }
.terminal pre .f8_ { color: #808080; }
.terminal pre .b8_ { background-color: #808080; }
.terminal pre .f9_ { color: #ff0000; }
.terminal pre .b9_ { background-color: #ff0000; }
.terminal pre .f10_ { color: #00ff00; }
.terminal pre .b10_ { background-color: #00ff00; }
.terminal pre .f11_ { color: #ffff00; }
.terminal pre .b11_ { background-color: #ffff00; }
.terminal pre .f12_ { color: #0000ff; }
.terminal pre .b12_ { background-color: #0000ff; }
.terminal pre .f13_ { color: #ff00ff; }
.terminal pre .b13_ { background-color: #ff00ff; }
.terminal pre .f14_ { color: #00ffff; }
.terminal pre .b14_ { background-color: #00ffff; }
.terminal pre .f15_ { color: #ffffff; }
.terminal pre .b15_ { background-color: #ffffff; }
.terminal pre .f16_ { color: #000000; }
.terminal pre .b16_ { background-color: #000000; }
.terminal pre .f17_ { color: #00005f; }
.terminal pre .b17_ { background-color: #00005f; }
.terminal pre .f18_ { color: #000087; }
.terminal pre .b18_ { background-color: #000087; }
.terminal pre .f19_ { color: #0000af; }
.terminal pre .b19_ { background-color: #0000af; }
.terminal pre .f20_ { color: #0000df; }
.terminal pre .b20_ { background-color: #0000df; }
.terminal pre .f21_ { color: #0000ff; }
.terminal pre .b21_ { background-color: #0000ff; }
.terminal pre .f22_ { color: #005f00; }
.terminal pre .b22_ { background-color: #005f00; }
.terminal pre .f23_ { color: #005f5f; }
.terminal pre .b23_ { background-color: #005f5f; }
.terminal pre .f24_ { color: #005f87; }
.terminal pre .b24_ { background-color: #005f87; }
.terminal pre .f25_ { color: #005faf; }
.terminal pre .b25_ { background-color: #005faf; }
.terminal pre .f26_ { color: #005fdf; }
.terminal pre .b26_ { background-color: #005fdf; }
.terminal pre .f27_ { color: #005fff; }
.terminal pre .b27_ { background-color: #005fff; }
.terminal pre .f28_ { color: #008700; }
.terminal pre .b28_ { background-color: #008700; }
.terminal pre .f29_ { color: #00875f; }
.terminal pre .b29_ { background-color: #00875f; }
.terminal pre .f30_ { color: #008787; }
.terminal pre .b30_ { background-color: #008787; }
.terminal pre .f31_ { color: #0087af; }
.terminal pre .b31_ { background-color: #0087af; }
.terminal pre .f32_ { color: #0087df; }
.terminal pre .b32_ { background-color: #0087df; }
.terminal pre .f33_ { color: #0087ff; }
.terminal pre .b33_ { background-color: #0087ff; }
.terminal pre .f34_ { color: #00af00; }
.terminal pre .b34_ { background-color: #00af00; }
.terminal pre .f35_ { color: #00af5f; }
.terminal pre .b35_ { background-color: #00af5f; }
.terminal pre .f36_ { color: #00af87; }
.terminal pre .b36_ { background-color: #00af87; }
.terminal pre .f37_ { color: #00afaf; }
.terminal pre .b37_ { background-color: #00afaf; }
.terminal pre .f38_ { color: #00afdf; }
.terminal pre .b38_ { background-color: #00afdf; }
.terminal pre .f39_ { color: #00afff; }
.terminal pre .b39_ { background-color: #00afff; }
.terminal pre .f40_ { color: #00df00; }
.terminal pre .b40_ { background-color: #00df00; }
.terminal pre .f41_ { color: #00df5f; }
.terminal pre .b41_ { background-color: #00df5f; }
.terminal pre .f42_ { color: #00df87; }
.terminal pre .b42_ { background-color: #00df87; }
.terminal pre .f43_ { color: #00dfaf; }
.terminal pre .b43_ { background-color: #00dfaf; }
.terminal pre .f44_ { color: #00dfdf; }
.terminal pre .b44_ { background-color: #00dfdf; }
.terminal pre .f45_ { color: #00dfff; }
.terminal pre .b45_ { background-color: #00dfff; }
.terminal pre .f46_ { color: #00ff00; }
.terminal pre .b46_ { background-color: #00ff00; }
.terminal pre .f47_ { color: #00ff5f; }
.terminal pre .b47_ { background-color: #00ff5f; }
.terminal pre .f48_ { color: #00ff87; }
.terminal pre .b48_ { background-color: #00ff87; }
.terminal pre .f49_ { color: #00ffaf; }
.terminal pre .b49_ { background-color: #00ffaf; }
.terminal pre .f50_ { color: #00ffdf; }
.terminal pre .b50_ { background-color: #00ffdf; }
.terminal pre .f51_ { color: #00ffff; }
.terminal pre .b51_ { background-color: #00ffff; }
.terminal pre .f52_ { color: #5f0000; }
.terminal pre .b52_ { background-color: #5f0000; }
.terminal pre .f53_ { color: #5f005f; }
.terminal pre .b53_ { background-color: #5f005f; }
.terminal pre .f54_ { color: #5f0087; }
.terminal pre .b54_ { background-color: #5f0087; }
.terminal pre .f55_ { color: #5f00af; }
.terminal pre .b55_ { background-color: #5f00af; }
.terminal pre .f56_ { color: #5f00df; }
.terminal pre .b56_ { background-color: #5f00df; }
.terminal pre .f57_ { color: #5f00ff; }
.terminal pre .b57_ { background-color: #5f00ff; }
.terminal pre .f58_ { color: #5f5f00; }
.terminal pre .b58_ { background-color: #5f5f00; }
.terminal pre .f59_ { color: #5f5f5f; }
.terminal pre .b59_ { background-color: #5f5f5f; }
.terminal pre .f60_ { color: #5f5f87; }
.terminal pre .b60_ { background-color: #5f5f87; }
.terminal pre .f61_ { color: #5f5faf; }
.terminal pre .b61_ { background-color: #5f5faf; }
.terminal pre .f62_ { color: #5f5fdf; }
.terminal pre .b62_ { background-color: #5f5fdf; }
.terminal pre .f63_ { color: #5f5fff; }
.terminal pre .b63_ { background-color: #5f5fff; }
.terminal pre .f64_ { color: #5f8700; }
.terminal pre .b64_ { background-color: #5f8700; }
.terminal pre .f65_ { color: #5f875f; }
.terminal pre .b65_ { background-color: #5f875f; }
.terminal pre .f66_ { color: #5f8787; }
.terminal pre .b66_ { background-color: #5f8787; }
.terminal pre .f67_ { color: #5f87af; }
.terminal pre .b67_ { background-color: #5f87af; }
.terminal pre .f68_ { color: #5f87df; }
.terminal pre .b68_ { background-color: #5f87df; }
.terminal pre .f69_ { color: #5f87ff; }
.terminal pre .b69_ { background-color: #5f87ff; }
.terminal pre .f70_ { color: #5faf00; }
.terminal pre .b70_ { background-color: #5faf00; }
.terminal pre .f71_ { color: #5faf5f; }
.terminal pre .b71_ { background-color: #5faf5f; }
.terminal pre .f72_ { color: #5faf87; }
.terminal pre .b72_ { background-color: #5faf87; }
.terminal pre .f73_ { color: #5fafaf; }
.terminal pre .b73_ { background-color: #5fafaf; }
.terminal pre .f74_ { color: #5fafdf; }
.terminal pre .b74_ { background-color: #5fafdf; }
.terminal pre .f75_ { color: #5fafff; }
.terminal pre .b75_ { background-color: #5fafff; }
.terminal pre .f76_ { color: #5fdf00; }
.terminal pre .b76_ { background-color: #5fdf00; }
.terminal pre .f77_ { color: #5fdf5f; }
.terminal pre .b77_ { background-color: #5fdf5f; }
.terminal pre .f78_ { color: #5fdf87; }
.terminal pre .b78_ { background-color: #5fdf87; }
.terminal pre .f79_ { color: #5fdfaf; }
.terminal pre .b79_ { background-color: #5fdfaf; }
.terminal pre .f80_ { color: #5fdfdf; }
.terminal pre .b80_ { background-color: #5fdfdf; }
.terminal pre .f81_ { color: #5fdfff; }
.terminal pre .b81_ { background-color: #5fdfff; }
.terminal pre .f82_ { color: #5fff00; }
.terminal pre .b82_ { background-color: #5fff00; }
.terminal pre .f83_ { color: #5fff5f; }
.terminal pre .b83_ { background-color: #5fff5f; }
.terminal pre .f84_ { color: #5fff87; }
.terminal pre .b84_ { background-color: #5fff87; }
.terminal pre .f85_ { color: #5fffaf; }
.terminal pre .b85_ { background-color: #5fffaf; }
.terminal pre .f86_ { color: #5fffdf; }
.terminal pre .b86_ { background-color: #5fffdf; }
.terminal pre .f87_ { color: #5fffff; }
.terminal pre .b87_ { background-color: #5fffff; }
.terminal pre .f88_ { color: #870000; }
.terminal pre .b88_ { background-color: #870000; }
.terminal pre .f89_ { color: #87005f; }
.terminal pre .b89_ { background-color: #87005f; }
.terminal pre .f90_ { color: #870087; }
.terminal pre .b90_ { background-color: #870087; }
.terminal pre .f91_ { color: #8700af; }
.terminal pre .b91_ { background-color: #8700af; }
.terminal pre .f92_ { color: #8700df; }
.terminal pre .b92_ { background-color: #8700df; }
.terminal pre .f93_ { color: #8700ff; }
.terminal pre .b93_ { background-color: #8700ff; }
.terminal pre .f94_ { color: #875f00; }
.terminal pre .b94_ { background-color: #875f00; }
.terminal pre .f95_ { color: #875f5f; }
.terminal pre .b95_ { background-color: #875f5f; }
.terminal pre .f96_ { color: #875f87; }
.terminal pre .b96_ { background-color: #875f87; }
.terminal pre .f97_ { color: #875faf; }
.terminal pre .b97_ { background-color: #875faf; }
.terminal pre .f98_ { color: #875fdf; }
.terminal pre .b98_ { background-color: #875fdf; }
.terminal pre .f99_ { color: #875fff; }
.terminal pre .b99_ { background-color: #875fff; }
.terminal pre .f100_ { color: #878700; }
.terminal pre .b100_ { background-color: #878700; }
.terminal pre .f101_ { color: #87875f; }
.terminal pre .b101_ { background-color: #87875f; }
.terminal pre .f102_ { color: #878787; }
.terminal pre .b102_ { background-color: #878787; }
.terminal pre .f103_ { color: #8787af; }
.terminal pre .b103_ { background-color: #8787af; }
.terminal pre .f104_ { color: #8787df; }
.terminal pre .b104_ { background-color: #8787df; }
.terminal pre .f105_ { color: #8787ff; }
.terminal pre .b105_ { background-color: #8787ff; }
.terminal pre .f106_ { color: #87af00; }
.terminal pre .b106_ { background-color: #87af00; }
.terminal pre .f107_ { color: #87af5f; }
.terminal pre .b107_ { background-color: #87af5f; }
.terminal pre .f108_ { color: #87af87; }
.terminal pre .b108_ { background-color: #87af87; }
.terminal pre .f109_ { color: #87afaf; }
.terminal pre .b109_ { background-color: #87afaf; }
.terminal pre .f110_ { color: #87afdf; }
.terminal pre .b110_ { background-color: #87afdf; }
.terminal pre .f111_ { color: #87afff; }
.terminal pre .b111_ { background-color: #87afff; }
.terminal pre .f112_ { color: #87df00; }
.terminal pre .b112_ { background-color: #87df00; }
.terminal pre .f113_ { color: #87df5f; }
.terminal pre .b113_ { background-color: #87df5f; }
.terminal pre .f114_ { color: #87df87; }
.terminal pre .b114_ { background-color: #87df87; }
.terminal pre .f115_ { color: #87dfaf; }
.terminal pre .b115_ { background-color: #87dfaf; }
.terminal pre .f116_ { color: #87dfdf; }
.terminal pre .b116_ { background-color: #87dfdf; }
.terminal pre .f117_ { color: #87dfff; }
.terminal pre .b117_ { background-color: #87dfff; }
.terminal pre .f118_ { color: #87ff00; }
.terminal pre .b118_ { background-color: #87ff00; }
.terminal pre .f119_ { color: #87ff5f; }
.terminal pre .b119_ { background-color: #87ff5f; }
.terminal pre .f120_ { color: #87ff87; }
.terminal pre .b120_ { background-color: #87ff87; }
.terminal pre .f121_ { color: #87ffaf; }
.terminal pre .b121_ { background-color: #87ffaf; }
.terminal pre .f122_ { color: #87ffdf; }
.terminal pre .b122_ { background-color: #87ffdf; }
.terminal pre .f123_ { color: #87ffff; }
.terminal pre .b123_ { background-color: #87ffff; }
.terminal pre .f124_ { color: #af0000; }
.terminal pre .b124_ { background-color: #af0000; }
.terminal pre .f125_ { color: #af005f; }
.terminal pre .b125_ { background-color: #af005f; }
.terminal pre .f126_ { color: #af0087; }
.terminal pre .b126_ { background-color: #af0087; }
.terminal pre .f127_ { color: #af00af; }
.terminal pre .b127_ { background-color: #af00af; }
.terminal pre .f128_ { color: #af00df; }
.terminal pre .b128_ { background-color: #af00df; }
.terminal pre .f129_ { color: #af00ff; }
.terminal pre .b129_ { background-color: #af00ff; }
.terminal pre .f130_ { color: #af5f00; }
.terminal pre .b130_ { background-color: #af5f00; }
.terminal pre .f131_ { color: #af5f5f; }
.terminal pre .b131_ { background-color: #af5f5f; }
.terminal pre .f132_ { color: #af5f87; }
.terminal pre .b132_ { background-color: #af5f87; }
.terminal pre .f133_ { color: #af5faf; }
.terminal pre .b133_ { background-color: #af5faf; }
.terminal pre .f134_ { color: #af5fdf; }
.terminal pre .b134_ { background-color: #af5fdf; }
.terminal pre .f135_ { color: #af5fff; }
.terminal pre .b135_ { background-color: #af5fff; }
.terminal pre .f136_ { color: #af8700; }
.terminal pre .b136_ { background-color: #af8700; }
.terminal pre .f137_ { color: #af875f; }
.terminal pre .b137_ { background-color: #af875f; }
.terminal pre .f138_ { color: #af8787; }
.terminal pre .b138_ { background-color: #af8787; }
.terminal pre .f139_ { color: #af87af; }
.terminal pre .b139_ { background-color: #af87af; }
.terminal pre .f140_ { color: #af87df; }
.terminal pre .b140_ { background-color: #af87df; }
.terminal pre .f141_ { color: #af87ff; }
.terminal pre .b141_ { background-color: #af87ff; }
.terminal pre .f142_ { color: #afaf00; }
.terminal pre .b142_ { background-color: #afaf00; }
.terminal pre .f143_ { color: #afaf5f; }
.terminal pre .b143_ { background-color: #afaf5f; }
.terminal pre .f144_ { color: #afaf87; }
.terminal pre .b144_ { background-color: #afaf87; }
.terminal pre .f145_ { color: #afafaf; }
.terminal pre .b145_ { background-color: #afafaf; }
.terminal pre .f146_ { color: #afafdf; }
.terminal pre .b146_ { background-color: #afafdf; }
.terminal pre .f147_ { color: #afafff; }
.terminal pre .b147_ { background-color: #afafff; }
.terminal pre .f148_ { color: #afdf00; }
.terminal pre .b148_ { background-color: #afdf00; }
.terminal pre .f149_ { color: #afdf5f; }
.terminal pre .b149_ { background-color: #afdf5f; }
.terminal pre .f150_ { color: #afdf87; }
.terminal pre .b150_ { background-color: #afdf87; }
.terminal pre .f151_ { color: #afdfaf; }
.terminal pre .b151_ { background-color: #afdfaf; }
.terminal pre .f152_ { color: #afdfdf; }
.terminal pre .b152_ { background-color: #afdfdf; }
.terminal pre .f153_ { color: #afdfff; }
.terminal pre .b153_ { background-color: #afdfff; }
.terminal pre .f154_ { color: #afff00; }
.terminal pre .b154_ { background-color: #afff00; }
.terminal pre .f155_ { color: #afff5f; }
.terminal pre .b155_ { background-color: #afff5f; }
.terminal pre .f156_ { color: #afff87; }
.terminal pre .b156_ { background-color: #afff87; }
.terminal pre .f157_ { color: #afffaf; }
.terminal pre .b157_ { background-color: #afffaf; }
.terminal pre .f158_ { color: #afffdf; }
.terminal pre .b158_ { background-color: #afffdf; }
.terminal pre .f159_ { color: #afffff; }
.terminal pre .b159_ { background-color: #afffff; }
.terminal pre .f160_ { color: #df0000; }
.terminal pre .b160_ { background-color: #df0000; }
.terminal pre .f161_ { color: #df005f; }
.terminal pre .b161_ { background-color: #df005f; }
.terminal pre .f162_ { color: #df0087; }
.terminal pre .b162_ { background-color: #df0087; }
.terminal pre .f163_ { color: #df00af; }
.terminal pre .b163_ { background-color: #df00af; }
.terminal pre .f164_ { color: #df00df; }
.terminal pre .b164_ { background-color: #df00df; }
.terminal pre .f165_ { color: #df00ff; }
.terminal pre .b165_ { background-color: #df00ff; }
.terminal pre .f166_ { color: #df5f00; }
.terminal pre .b166_ { background-color: #df5f00; }
.terminal pre .f167_ { color: #df5f5f; }
.terminal pre .b167_ { background-color: #df5f5f; }
.terminal pre .f168_ { color: #df5f87; }
.terminal pre .b168_ { background-color: #df5f87; }
.terminal pre .f169_ { color: #df5faf; }
.terminal pre .b169_ { background-color: #df5faf; }
.terminal pre .f170_ { color: #df5fdf; }
.terminal pre .b170_ { background-color: #df5fdf; }
.terminal pre .f171_ { color: #df5fff; }
.terminal pre .b171_ { background-color: #df5fff; }
.terminal pre .f172_ { color: #df8700; }
.terminal pre .b172_ { background-color: #df8700; }
.terminal pre .f173_ { color: #df875f; }
.terminal pre .b173_ { background-color: #df875f; }
.terminal pre .f174_ { color: #df8787; }
.terminal pre .b174_ { background-color: #df8787; }
.terminal pre .f175_ { color: #df87af; }
.terminal pre .b175_ { background-color: #df87af; }
.terminal pre .f176_ { color: #df87df; }
.terminal pre .b176_ { background-color: #df87df; }
.terminal pre .f177_ { color: #df87ff; }
.terminal pre .b177_ { background-color: #df87ff; }
.terminal pre .f178_ { color: #dfaf00; }
.terminal pre .b178_ { background-color: #dfaf00; }
.terminal pre .f179_ { color: #dfaf5f; }
.terminal pre .b179_ { background-color: #dfaf5f; }
.terminal pre .f180_ { color: #dfaf87; }
.terminal pre .b180_ { background-color: #dfaf87; }
.terminal pre .f181_ { color: #dfafaf; }
.terminal pre .b181_ { background-color: #dfafaf; }
.terminal pre .f182_ { color: #dfafdf; }
.terminal pre .b182_ { background-color: #dfafdf; }
.terminal pre .f183_ { color: #dfafff; }
.terminal pre .b183_ { background-color: #dfafff; }
.terminal pre .f184_ { color: #dfdf00; }
.terminal pre .b184_ { background-color: #dfdf00; }
.terminal pre .f185_ { color: #dfdf5f; }
.terminal pre .b185_ { background-color: #dfdf5f; }
.terminal pre .f186_ { color: #dfdf87; }
.terminal pre .b186_ { background-color: #dfdf87; }
.terminal pre .f187_ { color: #dfdfaf; }
.terminal pre .b187_ { background-color: #dfdfaf; }
.terminal pre .f188_ { color: #dfdfdf; }
.terminal pre .b188_ { background-color: #dfdfdf; }
.terminal pre .f189_ { color: #dfdfff; }
.terminal pre .b189_ { background-color: #dfdfff; }
.terminal pre .f190_ { color: #dfff00; }
.terminal pre .b190_ { background-color: #dfff00; }
.terminal pre .f191_ { color: #dfff5f; }
.terminal pre .b191_ { background-color: #dfff5f; }
.terminal pre .f192_ { color: #dfff87; }
.terminal pre .b192_ { background-color: #dfff87; }
.terminal pre .f193_ { color: #dfffaf; }
.terminal pre .b193_ { background-color: #dfffaf; }
.terminal pre .f194_ { color: #dfffdf; }
.terminal pre .b194_ { background-color: #dfffdf; }
.terminal pre .f195_ { color: #dfffff; }
.terminal pre .b195_ { background-color: #dfffff; }
.terminal pre .f196_ { color: #ff0000; }
.terminal pre .b196_ { background-color: #ff0000; }
.terminal pre .f197_ { color: #ff005f; }
.terminal pre .b197_ { background-color: #ff005f; }
.terminal pre .f198_ { color: #ff0087; }
.terminal pre .b198_ { background-color: #ff0087; }
.terminal pre .f199_ { color: #ff00af; }
.terminal pre .b199_ { background-color: #ff00af; }
.terminal pre .f200_ { color: #ff00df; }
.terminal pre .b200_ { background-color: #ff00df; }
.terminal pre .f201_ { color: #ff00ff; }
.terminal pre .b201_ { background-color: #ff00ff; }
.terminal pre .f202_ { color: #ff5f00; }
.terminal pre .b202_ { background-color: #ff5f00; }
.terminal pre .f203_ { color: #ff5f5f; }
.terminal pre .b203_ { background-color: #ff5f5f; }
.terminal pre .f204_ { color: #ff5f87; }
.terminal pre .b204_ { background-color: #ff5f87; }
.terminal pre .f205_ { color: #ff5faf; }
.terminal pre .b205_ { background-color: #ff5faf; }
.terminal pre .f206_ { color: #ff5fdf; }
.terminal pre .b206_ { background-color: #ff5fdf; }
.terminal pre .f207_ { color: #ff5fff; }
.terminal pre .b207_ { background-color: #ff5fff; }
.terminal pre .f208_ { color: #ff8700; }
.terminal pre .b208_ { background-color: #ff8700; }
.terminal pre .f209_ { color: #ff875f; }
.terminal pre .b209_ { background-color: #ff875f; }
.terminal pre .f210_ { color: #ff8787; }
.terminal pre .b210_ { background-color: #ff8787; }
.terminal pre .f211_ { color: #ff87af; }
.terminal pre .b211_ { background-color: #ff87af; }
.terminal pre .f212_ { color: #ff87df; }
.terminal pre .b212_ { background-color: #ff87df; }
.terminal pre .f213_ { color: #ff87ff; }
.terminal pre .b213_ { background-color: #ff87ff; }
.terminal pre .f214_ { color: #ffaf00; }
.terminal pre .b214_ { background-color: #ffaf00; }
.terminal pre .f215_ { color: #ffaf5f; }
.terminal pre .b215_ { background-color: #ffaf5f; }
.terminal pre .f216_ { color: #ffaf87; }
.terminal pre .b216_ { background-color: #ffaf87; }
.terminal pre .f217_ { color: #ffafaf; }
.terminal pre .b217_ { background-color: #ffafaf; }
.terminal pre .f218_ { color: #ffafdf; }
.terminal pre .b218_ { background-color: #ffafdf; }
.terminal pre .f219_ { color: #ffafff; }
.terminal pre .b219_ { background-color: #ffafff; }
.terminal pre .f220_ { color: #ffdf00; }
.terminal pre .b220_ { background-color: #ffdf00; }
.terminal pre .f221_ { color: #ffdf5f; }
.terminal pre .b221_ { background-color: #ffdf5f; }
.terminal pre .f222_ { color: #ffdf87; }
.terminal pre .b222_ { background-color: #ffdf87; }
.terminal pre .f223_ { color: #ffdfaf; }
.terminal pre .b223_ { background-color: #ffdfaf; }
.terminal pre .f224_ { color: #ffdfdf; }
.terminal pre .b224_ { background-color: #ffdfdf; }
.terminal pre .f225_ { color: #ffdfff; }
.terminal pre .b225_ { background-color: #ffdfff; }
.terminal pre .f226_ { color: #ffff00; }
.terminal pre .b226_ { background-color: #ffff00; }
.terminal pre .f227_ { color: #ffff5f; }
.terminal pre .b227_ { background-color: #ffff5f; }
.terminal pre .f228_ { color: #ffff87; }
.terminal pre .b228_ { background-color: #ffff87; }
.terminal pre .f229_ { color: #ffffaf; }
.terminal pre .b229_ { background-color: #ffffaf; }
.terminal pre .f230_ { color: #ffffdf; }
.terminal pre .b230_ { background-color: #ffffdf; }
.terminal pre .f231_ { color: #ffffff; }
.terminal pre .b231_ { background-color: #ffffff; }
.terminal pre .f232_ { color: #080808; }
.terminal pre .b232_ { background-color: #080808; }
.terminal pre .f233_ { color: #121212; }
.terminal pre .b233_ { background-color: #121212; }
.terminal pre .f234_ { color: #1c1c1c; }
.terminal pre .b234_ { background-color: #1c1c1c; }
.terminal pre .f235_ { color: #262626; }
.terminal pre .b235_ { background-color: #262626; }
.terminal pre .f236_ { color: #303030; }
.terminal pre .b236_ { background-color: #303030; }
.terminal pre .f237_ { color: #3a3a3a; }
.terminal pre .b237_ { background-color: #3a3a3a; }
.terminal pre .f238_ { color: #444444; }
.terminal pre .b238_ { background-color: #444444; }
.terminal pre .f239_ { color: #4e4e4e; }
.terminal pre .b239_ { background-color: #4e4e4e; }
.terminal pre .f240_ { color: #585858; }
.terminal pre .b240_ { background-color: #585858; }
.terminal pre .f241_ { color: #606060; }
.terminal pre .b241_ { background-color: #606060; }
.terminal pre .f242_ { color: #666666; }
.terminal pre .b242_ { background-color: #666666; }
.terminal pre .f243_ { color: #767676; }
.terminal pre .b243_ { background-color: #767676; }
.terminal pre .f244_ { color: #808080; }
.terminal pre .b244_ { background-color: #808080; }
.terminal pre .f245_ { color: #8a8a8a; }
.terminal pre .b245_ { background-color: #8a8a8a; }
.terminal pre .f246_ { color: #949494; }
.terminal pre .b246_ { background-color: #949494; }
.terminal pre .f247_ { color: #9e9e9e; }
.terminal pre .b247_ { background-color: #9e9e9e; }
.terminal pre .f248_ { color: #a8a8a8; }
.terminal pre .b248_ { background-color: #a8a8a8; }
.terminal pre .f249_ { color: #b2b2b2; }
.terminal pre .b249_ { background-color: #b2b2b2; }
.terminal pre .f250_ { color: #bcbcbc; }
.terminal pre .b250_ { background-color: #bcbcbc; }
.terminal pre .f251_ { color: #c6c6c6; }
.terminal pre .b251_ { background-color: #c6c6c6; }
.terminal pre .f252_ { color: #d0d0d0; }
.terminal pre .b252_ { background-color: #d0d0d0; }
.terminal pre .f253_ { color: #dadada; }
.terminal pre .b253_ { background-color: #dadada; }
.terminal pre .f254_ { color: #e4e4e4; }
.terminal pre .b254_ { background-color: #e4e4e4; }
.terminal pre .f255_ { color: #eeeeee; }
.terminal pre .b255_ { background-color: #eeeeee; }
